<!doctype html>
<html>
  <head>
  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/
      3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Movie Details</title>
  </head>
  <body>
    <div class="container-fluid"><b>Movie Details</b></div>
  	<div class="container">
      <p>
      	<div class="row">
        		<div class="col-xs-12"><em>Movie Title:</em> {{ title }}</div>
      	</div>
      </p>
      <p>
      	<div class="row">
      		<div class="col-xs-12"><em>Story Summary:</em><br>{{ synopsis }}<br></div>
      	</div>
      </p>
      <p>
      	<div class="row">
      		<div class="col-xs-12"><em>Average Rating:</em> {{ ave_rating }}</div>
      	</div>
      </p>
  	</div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/
      3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
