<!doctype html>
<html>
  <head>
  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/
      3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Movie Details</title>
  </head>
  <body>
    <div class="container-fluid"><b>Movie Details</b></div>
  	<div class="container">
    	<div class="row">
      		<div class="col-xs-12">Movie Title: {{ title }}</div>
    	</div>
    	<div class="row">
    		<div class="col-xs-12">Story Summary: {{ synopsis }}</div>
    	</div>
    	<div class="row">
    		<div class="col-xs-12">Average Rating: {{ ave_rating }}</div>
    	</div>
  	</div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/
      3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
